body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    align-items: stretch;
    transition: all 0.25s ease-out; /* Added transition for smooth toggling */
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    margin-left: -250px;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 100%;
}

#page-content-wrapper {
    flex: 1;
    min-width: 0;
    transition: all 0.25s ease-out; /* Added transition for smooth toggling */
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 250px; /* Adjust content when sidebar is toggled */
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-left: 0; /* Ensure content is full-width on larger screens */
    }
}
